{% extends 'backend-base.html' %}
{% load static %}

{% block title %}Update{% endblock %}


{% block search %}
{% endblock %}


{% block content %}
<div class="page-body">

    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Update Product</h5>
                                </div>
                                {% for crud in crud %}
                                <form class="theme-form theme-form-2 mega-form" action="/update/{{crud.id}}"
                                      method="POST"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text"
                                                   placeholder="Name" value="{{crud.name}}" name="name">
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">
                                            Category</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text"
                                                   placeholder="Category" value="{{crud.cat}}" name="cat">
                                        </div>
                                    </div>
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">
                                            Email</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="email"
                                                   placeholder="Enter your Email" value="{{crud.email}}" name="email">
                                        </div>
                                    </div>
                                    <div class="mb-4 row align-items-center">
                                        <label
                                                class="col-sm-3 col-form-label form-label-title">Current Images</label>
                                        <div class="col-sm-9">
                                            <a href="/">
                                                <img style="height:250px;" src="{{ crud.image.url }}"
                                                     class="img-fluid blur-up lazyload" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label
                                                class="col-sm-3 col-form-label form-label-title">Images</label>
                                        <div class="col-sm-9">
                                            <input class="form-control form-choose" type="file"
                                                   id="formFile" value="{{crud.image.url }}" name="image">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Update</button>

                                </form>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2022 © CIT_SydulAmin_Saddam </p>
                </div>
            </div>
        </footer>
        <!-- footer end-->
    </div>
</div>

{% endblock %}